<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/headers.html') %>
		<link rel="stylesheet" href="/css/index.css" />
		<style>
			.score-wrapper {
				justify-content: flex-start;
				gap: 31px;
			}

			.score-wrapper .score {
				width: 300px;
				min-height: 140px;
				box-shadow: 0 0 4px 1px #fcea41;
				padding: 10px;
				border-radius: 8px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
		</style>
	</head>
	<body>
		<%- include('partials/navbar.html') %>

		<div class="container mt-5">
			<h1>Leaderboard</h1>

			<div class="score-wrapper">
				<% scores.forEach(score => { %>
				<div class="score">
					<h1 class="title"><%= score.title %></h1>
					<div class="score-footer">
						<% if (score.privacy == 'public') { %>
						<div class="like-status">
							<% if (score.userHasLiked == false) { %>
							<div class="star-box" onclick="likeScore('<%= score._id %>')">
								<div class="star">
									<i class="fa-regular fa-star"></i>
								</div>
								<div class="text">Like</div>
								<div class="cout"><%= score.totalLikes %></div>
							</div>
							<% } else { %>
								<div class="star-box" onclick="unlikeScore('<%= score._id %>')">
									<div class="star">
										<i class="fa-solid fa-star"></i>
									</div>
									<div class="text">Liked</div>
									<div class="cout"><%= score.totalLikes %></div>
								</div>
							<% } %>
						</div>
						<%} else { %>
						<div class="private-score">Private</div>
						<% } %>
					</div>
				</div>
				<% }); %>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

		<script>
			// Global Variables
			const userId = "66b78c0f1c55a015667308b8"
			const username = "cheap_fuchsia_reptile"

			function likeAndUnlikeScore(scoreId, status) {
				const authHeader = 'Basic ' + btoa(username + ':' + username);

				axios
					.post(
						`/v1/${status}-score`,
						{
							userId,
							scoreId,
						},
						{
							headers: {
								Authorization: authHeader,
								"Content-Type": "application/json",
							},
						}
					)
					.then((response) => {
						window.location.reload()
						console.log("Response:", response.data)
					})
					.catch((error) => {
						console.error("Error adding like:", error, error.response ? error.response.data : error.message)
					})
			}

			function likeScore(scoreId) {
				likeAndUnlikeScore(scoreId, 'like')
			}

			function unlikeScore(scoreId) {
				likeAndUnlikeScore(scoreId, 'unlike')
			}
		</script>
	</body>
</html>
